.gallery {}

.gallery .gallery-hold {
    background-color: #696767;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('https://picsum.photos/1240/500');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.gallery .gallery-hold::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.gallery .author {
    font-weight: 400;
    font-size: 12px;
    line-height: 167%;
    text-align: center;
    color: #e5e5e5;
    position: relative;
}

.gallery .title {
    font-weight: 700;
    font-size: 25px;
    line-height: 160%;
    text-align: center;
    color: #f8f9fa;
    position: relative;
}