.header {
    padding: 30px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    min-height: 40px;
    align-items: center;
}

.header .logo-link {}

.header .logo {}

.header .nav {}

.header .nav-ul {
    display: flex;
    gap: 25px;
}

.header .nav-li {}

.header .nav-link {
    font-weight: 500;
    font-size: 12px;
    color: rgba(73, 80, 87, 0.5);
    transition: 0.3s;
    position: relative;
}

.header .nav-link:hover,
.header .nav-link.active {
    color: #495057;
}

.header .nav-link::before {
    content: '';
    transition: 0.3s;
    border-bottom: 2px solid #DDBEA9;
    width: 0%;
    height: 0;
    display: block;
    position: absolute;
    bottom: -3px;
    right: 0;
}

.header .nav-link:hover::before,
.header .nav-link.active::before {
    width: 100%;
    left: 0;
}

.header-white {
    position: absolute;
    z-index: 1;
    width: 100%;
}

.header-white .nav-link {
    color: rgba(248, 249, 250, 0.5);
}

.header-white .nav-link.active {
    color: #ffffff;
}

.header-white .logo-link {
    background-image: url('../img/logo-sm-white.png');
    background-repeat: no-repeat;
    background-position: 0 4px;
}

.header-white .logo {
    opacity: 0;
}

@media (max-width: 510px) {
    .header .container {
        flex-direction: column;
    }
}